<ng-template #loading>
    <h6 class="text-center text-danger" style="font-weight: bolder;" *ngIf="responseData==false">Data Not Found! Try again with different input.</h6>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
<div class="container" *ngIf="!isLoading && responseData; else loading">
    <div class="row">
        <div class="col-6 p-2">
            <div class="form-group row">
                <label for="pensionAmount" class="col-sm-8 col-form-label" style="color:black;"><img src="https://img.icons8.com/color/48/000000/money-bag.png" class="img-fluid"/> Pension Amount</label>
                <div class="col-sm-4">
                  <input type="text" readonly class="p-2" id="pensionAmount" [value]="responseData.pensionAmount | currency:'INR'">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-2 p-2">
            <div class="form-group row">
                <label for="bankServiceCharge" class="col-sm-8 col-form-label" style="color:black;"><img src="https://img.icons8.com/color/48/000000/money-bag.png" class="img-fluid"/> Bank Service Charge</label>
                <div class="col-sm-4">
                  <input type="text" readonly class="p-2" id="bankServiceCharge" [value]="responseData.bankServiceCharge | currency:'INR'">
                </div>
            </div>
        </div>
    </div>
</div>