<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>

<div class="container" *ngIf="!isLoading; else loading">
    <div class="row">
        <div class="col-3 p-2">
            <div class="form-group row">
                <label for="name" class="col-sm-6 col-form-label">Name</label>
                <div class="col-sm-6">
                  <input type="text" readonly class="p-2" id="name" [value]="pensionerDetails.name">
                </div>
            </div>
        </div>
        <div class="col-4 offset-1 p-2">
            <div class="form-group row">
                <label for="dateOfBirth" class="col-sm-4 offset-sm-1 col-form-label">Date Of Birth</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="dateOfBirth" [value]="pensionerDetails.dateOfBirth | date">
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="form-group row">
                <label for="pan" class="col-sm-4 offset-sm-1 col-form-label">PAN</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="pan" [value]="pensionerDetails.pan">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 ml-5 p-2">
            <div class="form-group row">
                <label for="aadhaarNumber" class="col-6 col-form-label">Aadhaar Number</label>
                <div class="col-6">
                  <input type="text" readonly class="p-2" id="aadhaarNumber" [value]="pensionerDetails.aadhaarNumber">
                </div>
            </div>
        </div>
        <div class="col-4 offset-1 p-2">
            <div class="form-group row">
                <label for="salaryEarned" class="col-sm-4 offset-sm-1 col-form-label">Salary Earned</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="salaryEarned" [value]="pensionerDetails.salaryEarned">
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="form-group row">
                <label for="allowances" class="col-sm-4 offset-sm-1 col-form-label">Allowances</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="allowances" [value]="pensionerDetails.allowances">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 p-2">
            <div class="form-group row">
                <label for="pensionType" class="col-sm-6 col-form-label">Pension Type</label>
                <div class="col-sm-6">
                  <input type="text" readonly class="p-2" id="pensionType" [value]="pensionerDetails.pensionType">
                </div>
            </div>
        </div>
        <div class="col-4 offset-1 p-2">
            <div class="form-group row">
                <label for="accountNumber" class="col-sm-4 offset-sm-1 col-form-label">Bank Acc.No.</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="accountNumber" [value]="pensionerDetails.bank.accountNumber">
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="form-group row">
                <label for="bankType" class="col-sm-4 offset-sm-1 col-form-label">Bank Type</label>
                <div class="col-sm-7">
                  <input type="text" readonly class="p-2" id="bankType" [value]="pensionerDetails.bankType">
                </div>
            </div>
        </div>
    </div>
</div>