<ng-template #spinner>
    <app-loading-spinner></app-loading-spinner>
</ng-template>

<form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading; else spinner">
    <div class="container">
        <br>
        <br>
        <div class="col-md-8 offset-md-2">
            <div class="card bg-white">
                <div class="card-body">
                    <div class="container">
                        <div class="row p-2">
                            <i class="card-title"><h2 class="text-center">Welcome to Pension Management System</h2></i>
                        </div>
                        <div class="row">
                            <div class="col-6 p-1">
                                <img src="../../assets/login.jpg" class="img-fluid rounded">
                            </div>
                            <div class="col-6 p-3 mt-1">
                                <h4 class="card-subtitle text-center text-primary p-1 mb-2" style="margin-top:-5%"><b>Registration Portal</b></h4>
                                <div class="form-group">
                                    <div class="form-floating">
                                        <input type="text" id="username" class="form-control" name="username" [ngClass]="(f.form.controls.username?.valid) ? 'is-valid' : 'is-invalid' " placeholder="username" ngModel required >
                                        <label for="username">Username</label>
                                        <div class="invalid-feedback" *ngIf="f.form.controls.username?.errors?.required">Username is required</div>
                                        <!-- <div class="invalid-feedback" *ngIf="f.form.controls.username?.errors?.minlength">Username length should be greater than 7 characters</div> -->
                                        <div class="valid-feedback">{{f.value.username }} is valid</div>
                                    </div>
                                    <div class="mt-3 form-floating">
                                        <input type="password" id="password" class="form-control" name="password" [ngClass]="(f.form.controls.password?.valid) ? 'is-valid' : 'is-invalid' " placeholder="password" required ngModel > 
                                        <label for="password">Password</label>
                                        <!-- pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" -->
                                        <div class="invalid-feedback" *ngIf="f.form.controls.password?.errors?.required">Password is required</div>
                                        <!-- <div class="invalid-feedback" *ngIf="f.form.controls.password?.errors?.pattern">Password should have minimum eight characters, at least one letter, one number and one special character</div> -->
                                        <div class="valid-feedback">Password is valid</div>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <button class="btn btn-success col-12" type="submit" [disabled]="!f.valid">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
